@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-1::-webkit-scrollbar {
  display: none;
}

.bit {
  font-family: "Mukta", sans-serif;
}

.bit h1::selection {
  background-color: orangered;
  color: #fff;
}

.bit span::selection {
  background-color: orangered;
  color: #fff;
}

.bit img::selection {
  background-color: orangered;
  color: #fff;
}
